@font-face {
  font-family: "FKGrotesk-Thin";
  src: url("/fonts/FKGrotesk-Thin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "FKGrotesk-Light";
  src: url("/fonts/FKGrotesk-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "FKGrotesk-Regular";
  src: url("/fonts/FKGrotesk-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SaolDisplay-Light";
  src: url("/fonts/SaolDisplay-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SaolStandard-Regular";
  src: url("/fonts/SaolStandard-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SaolText-Thin";
  src: url("/fonts/SaolText-Thin.woff2") format("woff2");
  font-display: swap;
}
